Archive/
.DS_Store

dataset/

*_pycache*/

S2FApp/.s2f_env/
test/
S2FApp/ckp/spheroid/ckp_spheroid_FN.pth
S2FApp/ckp/single_cell/ckp_singlecell_GN.pth
S2FApp/ckp/spheroid/ckp_spheroid_GN.pth
S2FApp/*.docx
